#Every this is None
/*

#Add file
!/.gitignore
!/README.md

!/2_Decision_tree.ipynb
!/data
!/data/diagnosis.data
!/model
!/model/prac001.model
!/3_LogisticRegression.ipynb
!/4_NativeBayes.ipynb
!/data/prac2.data
